body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

header {
  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
  }
  .page-title {
    background-color: rgb(173, 192, 0);
    padding: 18px;
    color: white;
    font-size: large;
    font-weight: 500;
  }
}

.page-container {
  display: flex;
  flex: 1;
  background-color: rgb(35, 48, 0);
  height: auto;
  .menu-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 240px;
    position: sticky;
    top: 0;
    .menu-title {
      text-align: center;
      padding: 8px;
      font-size: larger;
      font-weight: 600;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
      border: 1px solid gray;
      background-color: rgb(231, 225, 142);
      color: rgb(35, 48, 0);
      padding: 8px;
    }
  }
  main {
    background-color: rgb(204, 204, 204);
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    background-color: rgb(204, 204, 204);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    flex: 1;
    margin: 20px 20px;
    .card {
      display: flex;
      border: 2px solid black;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      text-align: center;
      height: 200px;
      width: 200px;
      border-radius: 4px;
      img {
        width: 40%;
        border-radius: 50%;
      }
    }
  }
}

footer {
  background-color: rgb(231, 225, 142);
  padding: 12px;
}

@media (max-width: 768px) {
  header {
    .toolbar {
      display: none;
    }
  }
  .page-container {
    flex-direction: column;
    overflow: visible;
    nav {
      position: sticky;
      top: 0;
      background-color: rgb(35, 48, 0);
    }
    .menu-container {
      flex-direction: row;
      width: 100%;
      height: 50px;
      justify-content: center;
      align-items: center;

      z-index: 1000;
      .menu-title {
        display: none;
      }
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row;
        gap: 24px;
      }

      li {
        text-align: center;
        width: 90px;
        height: 24px;
      }
    }

    .list {
      flex-direction: column;
      gap: 20px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      .card {
        flex-direction: row;
        height: 160px;
        width: 90%;
        justify-content: flex-start;
        gap: 20px;
        img {
          margin-left: 20px;
          width: 100px;
        }
      }
    }
  }
}
